.top{
     width: 800px;
     height: auto;
     padding: 20px 15px 10px 5px;
     margin: 15px 10px 5px 0px;
     margin-bottom: 20px;
     text-align: center;
     background-color: #dcc9f4;
    }
    .top-child{
     width: 20%;
     display: inline-block;
     padding: auto;
     margin: 15px 10px 5px 0px;
     background-color: #ffd9df;
    }
    .middle{
     width: 800px;
     height: 800px;
     margin-top: 20px;
     background-color: #ffd9df;
    }
    .middle-child01{
     width: 200px;
     height: 200px;
     position: relative;
     top:100px; left: 100px;
     background-color: #87ceeb;
    }
    .middle-child02{
     width: 200px;
     height: 200px;
     position: relative;
     top: 300px; left: 300px;
     background-color: #87ceeb;
    }
    .middle-child03{
     width: 200px;
     height: 200px;
     position: relative;
     top: 500px; left: 500px;
     background-color: #87ceeb;
    }
    .bottom{
     width: 800px;
     height: 300px;
     text-align: center;
     background-color: #87ceeb;
    }
    .bottom-child02{
     width: 400px;
     height: 100px;
     position: relative;
     left: 200px;
     background-color: #e5dcf0;
    }
    .bottom-child03{
     width: 400px;
     height: 100px;
     position: relative;
     left: 400px;
     background-color: #e5dcf0;
    }
